@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-body {
    background-image: url(../img/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-part {
    background-image: url(../img/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 150px;
    border-radius: 12px 12px 0px 0px;
}

.lower-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px hsl(226, 35%, 86%);
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
    width: 320px;
    padding: 30px 30px 30px 30px;
}

.lower-part h1 {
    color: hsl(223, 47%, 23%);
    padding-bottom: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.lower-part p {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 14px;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(224, 232, 255, 0.3);
    border-radius: 12px;
    width: 100%;
    margin: 20px 0px;
}

.annual-plan {
    padding-right: 56px;
}

.annual-plan .text {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 12px;
    text-align: center;
    padding-left: 14px;
}

.annual-plan .number {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 10px;
}

.plan a {
    font-size: 12px;
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    text-decoration: none;
    opacity: 0.8;
    cursor: hand;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 14px 14px hsl(226, 35%, 86%);
}

.payment a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 10px;
}

.payment:hover {
    background-color: rgba(0, 0, 255, 0.5);
    cursor: hand;
}

.cancel a {
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
    padding-top: 19px;
}

.cancel a:hover {
    color: hsl(223, 47%, 23%);
    cursor: hand;
}